body {
    background-image: url('../uploads/background.jpg');
    background-attachment: fixed; /* Make the background image fixed */
    background-size: cover; /* Ensure the background covers the entire page */
    background-position: center; /* Center the background image */
}

.login-container {
    background-color: rgba(0, 0, 0, 0.9); /* Dark background with some transparency */
    backdrop-filter: blur(15px); /* Apply blur effect to the background */
    padding: 10px; /* Reduce padding */
    margin: 20px auto; /* Reduce margin */
    color: white; /* Ensure text color is white */
    max-width: 400px; /* Center the forms */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


input[type="submit"] {
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Register variant styles */
.register-container {
    background-color: rgba(0, 0, 0, 0.9); /* Dark background with some transparency */
    backdrop-filter: blur(15px); /* Apply blur effect to the background */
    padding: 10px; /* Reduce padding */
    margin: 20px auto; /* Reduce margin */
    color: white; /* Ensure text color is white */
    max-width: 400px; /* Center the forms */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
